conda create -n bj_capstone python=3.8 numpy pandas matplotlib seaborn statsmodels scikit-learn=0.24.1 jupyter jupyterlab

conda activate bj_capstone

conda install -c conda-forge shap

conda install -c conda-forge xgboost=1.1.1

conda install -c conda-forge lxml

ipython kernel install --name "bj_capstone" --user